<div class="container">

  <h1>Survey</h1>
  <p>Please enter your name and email</p>
  <form action="/user" method="post">
    <input type="text" name="user[name]" placeholder="name"><br><br>
    <input type="text" name="user[email]" placeholder="email"><br><br>
    <input type="submit" value="enter"><br><br>
  </form>
</div>

<div class="container">

  <h2>Log in</h2>
  <form action="/login" method="post">
    <input type="text" name="name" placeholder="name"><br><br>
    <input type="submit" value="Log in"><br><br>
  </form>

</div>